{% extends "base.html" %}

{% block content %}

<div class="container mt-4">
    <h2 class="text-center mb-4">Elections</h2>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="alert alert-{{ messages[0][0] }}" role="alert">
            {{ messages[0][1] }}
        </div>
    {% endif %}
    {% endwith %}
    <div class="table-responsive shadow-sm rounded">
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Election Name</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">End Date</th>
                    <th scope="col">Description</th>
                </tr>
            </thead>
            <tbody>
                {% for election in elections %}
                <tr>
                    <td>{{ election['electionName'] }}</td>
                    <td>{{ election['startDate'] }}</td>
                    <td>{{ election['endDate'] }}</td>
                    <td>{{ election['description'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
